@media (max-width: 767px) {
    .benefit{
        font-weight: 400;
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    .benefit{
        font-weight: 400;
        font-size: 18px;
    }
}