.similarCourses{
    @media (min-width: 768px) {
    
            font-weight: 500;
            font-size: 36px;
            line-height: 52px; 
     
}
@media (max-width: 767px) {
 
        font-weight: 500;
        font-size: 22px;
        line-height: 52px; 

}
}